*.usd filter=lfs diff=lfs merge=lfs -text
*.usda filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.mtl filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.jit filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text

*.bat text eol=crlf
logs/acceptance/2026-09-29/torch-profile.json filter=lfs diff=lfs merge=lfs -text
*.trace.json filter=lfs diff=lfs merge=lfs -text
logs/acceptance/**/profile-before.json filter=lfs diff=lfs merge=lfs -text
logs/acceptance/**/profile-after.json filter=lfs diff=lfs merge=lfs -text
